<div id="about-us">
  <h1>About us</h1>
  <p>
    Welcome to our Online Ticket-Selling Platform, designed to connect event
    organizers and customers effortlessly. Admins manage company registrations
    and event listings, ensuring quality and compliance. Event organizers can
    easily create, manage, and sell tickets for their events, while customers
    can browse, search, and purchase tickets seamlessly. Our platform provides a
    user-friendly experience across all major browsers, with features like event
    search, ticket tiers, and payment processing. We aim to streamline the
    ticket-selling process and create an easy way for everyone to find and
    attend events.
  </p>
</div>

<router-outlet></router-outlet>
