<div id="header">
  <div (click)="navigateToPage()" id="header-img-container">
    <img src="logo.png" id="header-img" />
  </div>

  <div id="middle-menu-section">
    @if(statusLogIn=== false){
    <nav>
      <ul>
        <li>
          <a
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            class="menu-link"
          >
            Log In
          </a>
        </li>
        <li>
          
          <a
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            class="menu-link"
          >
            Sign Up
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/about']"
            routerLinkActive="router-link-active"
            class="menu-link"
          >
            About Us
          </a>
        </li>
      </ul>
    </nav>
    }
    @if(statusLogIn === true && loggedUserType === 'Admin'){
    <nav>
      <ul>
        <li>
          <a
            [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active"
            class="menu-link"
          >
            Dashboard
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/homepage']"
            routerLinkActive="router-link-active"
            class="menu-link"
          >
            Homepage
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/profile']"
            routerLinkActive="router-link-active"
            class="menu-link"
          >
            Profile
          </a>
        </li>
        <li>
          <a
            (click)="onLogout()"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            class="menu-link"
          >
            Log Out
          </a>
        </li>
      </ul>
    </nav>
    }


      @if(statusLogIn && loggedUserType === 'EventOrganizer' || loggedUserType === 'Customer'){
        <nav>
          <ul>
            <li>
              <a
                [routerLink]="['/events']"
                routerLinkActive="router-link-active"
                class="menu-link"
              >
                Events
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/homepage']"
                routerLinkActive="router-link-active"
                class="menu-link"
              >
                Homepage
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/profile']"
                routerLinkActive="router-link-active"
                class="menu-link"
              >
                Profile
              </a>
            </li>
            <li>
              <a
                (click)="onLogout()"
                [routerLink]="['/login']"
                routerLinkActive="router-link-active"
                class="menu-link"
              >
                Log Out
              </a>
            </li>
          </ul>
        </nav>
        }
  </div>

  @if(statusLogIn){
  <div id="user-section">
    <img id="user-img" src="user.png" alt="User Image" />
    <div id="text-div">
        <p>Hello, {{ loggedUserName$ | async }}</p>
        @if(loggedUserType != 'EventOrganizer'){
        <span>{{loggedUserType}}</span>}@else{
          <span>Event Organizer</span>
        }
    </div>
</div>
  }
</div>
